<div class="login-wrapper">

  <button class="back-btn" (click)="goBack()">← Back</button>

  <div class="login-card">

    <h1>Welcome Back</h1>
    <p class="subtitle">LOGIN TO CONTINUE</p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <!-- EMAIL -->
      <div class="input-group">
        <input
          type="email"
          formControlName="email"
          placeholder="Email Address">

        <small *ngIf="submitted && loginForm.controls['email'].errors" class="error-msg">
          <span *ngIf="loginForm.controls['email'].errors['required']
">
            Email is required
          </span>
          <span *ngIf="loginForm.controls['email'].errors['email']">
            Invalid email format
          </span>
        </small>
      </div>

      <!-- PASSWORD -->
      <div class="input-group">
        <input
          type="password"
          formControlName="password"
          placeholder="Password">

        <small *ngIf="submitted && loginForm.controls['password'].errors" class="error-msg">
          <span *ngIf="loginForm.controls['password'].errors?.['required']">
            Password is required
          </span>
        </small>
      </div>

      <!-- LOGIN BUTTON -->
      <button type="submit" class="login-btn">
        Login
      </button>

    </form>

    <!-- ERROR MESSAGE -->
    <p class="error" *ngIf="message">
      {{ message }}
    </p>

    <!-- DIVIDER -->
    <div class="divider">
      <span>OR</span>
    </div>

    <!-- QUICK ACTIONS -->
    <div class="extra-actions">
      <button class="outline-btn" routerLink="/submit">
        Continue as Guest
      </button>
    </div>

    <!-- REGISTER -->
    <p class="register-text">
      Don’t have an account?
      <a routerLink="/register">Create one</a>
    </p>

  </div>

</div>