<div class="dashboard-container">

  <!-- SIDEBAR -->
  <aside class="sidebar">

    <div class="logo">
      ServiceDesk<span>Pro</span>
    </div>

    <ul class="menu">

  <li>
    <a routerLink="/app/dashboard" routerLinkActive="active">Dashboard</a>
  </li>

  <li>
    <a routerLink="/app/complaint" routerLinkActive="active">Submit Complaint</a>
  </li>

  <li>
    <a routerLink="/app/my-complaints" routerLinkActive="active">My Complaints</a>
  </li>

  <li>
    <a href="#">Profile</a>
  </li>

  <li>
    <a (click)="logout()">Logout</a>
  </li>

</ul>
  </aside>

  <!-- MAIN CONTENT -->
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>

</div>